.menu-container{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(76, 31, 135);
    height: 5vh;
}

.menu-container>ul{
    display: flex;
    list-style: none;    
    margin-right: 5%;
}

.menu-container a{
    color: inherit;
}

.menu-container>ul>li{
    margin: 10px;
}